.smussato {
  min-height: 500px;
  border: solid;
  border-width: 5px;
  border-radius: 8px;
  margin: 10px;
} 

.array {
  display: flex;
  flex-direction: column;
}

button {
  &.book {
    background-color: darkgoldenrod;
    margin-left: 10px;
    margin-top: 10px;
  }
  &.add-book {
    background-color: darkgreen;
    margin-left: 10px;
    margin-top: 10px;
  }
  &.submit {
    height: 50px;
    width: 100px;
    margin-bottom: 10px;
    &.enabled {
      background-color: darkorange;
    }
    &.disabled {
      background-color: grey;
    }
  }
}

.vertical-text {
  height: 100px;
  display: inline-block;
  padding: 10px;
  writing-mode: vertical-rl; /* Ruota il testo verticalmente da destra a sinistra */
  text-align: center; /* Allinea il testo al centro */
  margin: 5px; /* Aggiungi margine esterno ai bottoni */
  cursor: pointer; /* Cambia il cursore al passaggio sopra il bottone */
  white-space: nowrap; /* Impedisce la rottura automatica del testo su più righe */
  overflow: hidden;
  text-overflow: ellipsis;
}